body {
    background-color: #3399CC;
    border-left: 5px solid #777777;
    border-right: 5px solid #777777;
    min-height: 100%;
    color: #FFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    content: "";
    position: fixed;
    background: #2B81AC;
    left: 0;
    right: 0;
    height: 20px;
}

.h1 { 
    margin: 0 auto;
    padding: 10px; 
    align-content: center; 
    position: fixed; 
    background: white;
    color: #2B81AC; 
}

.button {
   margin: 0 auto;
}

.cityname {
    margin: 0 auto;
}

.weatherContainer0 { 
    max-width: 200px;
    border-radius: 20px;
    height: 50vh;
    border: 3px solid pink;
    margin: 0 auto; 
}

.weatherContainer1 { 
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid pink;
    height: 50vh;
    margin: 0 auto; 
}

.weatherContainer2 { 
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid pink;
    height: 50vh;
    margin: 0 auto; 
}

.weatherContainer3 { 
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid pink;
    height: 50vh;
    margin: 0 auto; 
}

.weatherContainer4 { 
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid pink;
    height: 50vh;
    margin: 0 auto; 
}


